// Theme 1
$theme1: (
  'main-background': hsl(222, 26%, 31%),
  'toggle-background': hsl(223, 31%, 20%),
  'screen-background': hsl(224, 36%, 15%),
  'del-background': hsl(225, 21%, 49%),
  'del-shadow': hsl(224, 28%, 35%),
  'toggle-btn-background': hsl(6, 63%, 50%),
  'toggle-btn-shadow': hsl(6, 70%, 34%),
  'num-background': hsl(30, 25%, 89%),
  'num-shadow': hsl(28, 16%, 65%),
  'text-num': hsl(221, 14%, 31%),
  'screen-text': hsl(0, 0, 100%),
  'del-text': hsl(0, 0, 100%),
  'equal-text': hsl(0, 0, 100%)
);
// Theme 2
$theme2: (
  'main-background': hsl(0, 0%, 90%),
  'toggle-background': hsl(0, 5%, 81%),
  'screen-background': hsl(0, 0%, 93%),
  'del-background': hsl(185, 42%, 37%),
  'del-shadow': hsl(185, 58%, 25%),
  'toggle-btn-background': hsl(25, 98%, 40%),
  'toggle-btn-shadow': hsl(25, 99%, 27%),
  'num-background': hsl(45, 7%, 89%),
  'num-shadow': hsl(35, 11%, 61%),
  'text-num': hsl(60, 10%, 19%),
  'screen-text': hsl(60, 10%, 19%),
  'del-text': hsl(0, 0, 100%),
  'equal-text': hsl(0, 0, 100%)
);
// Theme 3
$theme3: (
  ' main_background': hsl(268, 75%, 9%),
  ' toggle_background': hsl(268, 71%, 12%),
  'screen-background': hsl(268, 71%, 12%),
  'del-background': hsl(281, 89%, 26%),
  'del-shadow': hsl(285, 91%, 52%),
  'toggle-btn-background': hsl(176, 100%, 44%),
  'toggle-btn-shadow': hsl(177, 92%, 70%),
  'num-background': hsl(268, 47%, 21%),
  'num-shadow': hsl(290, 70%, 36%),
  'text-num': hsl(52, 100%, 62%),
  'screen-text': hsl(52, 100%, 62%),
  ' del-text': hsl(0, 0, 100%),
  'equal-text': hsl(198, 20%, 13%)
);

:root {
  --body_background: #3a4764;
  --toggle_background: #252d42;
  --screen_background: #182034;
  --del_background: #637097;
  --del_shadow: #404e72;
  --toggle_btn_background: #d03f2f;
  --toggle_btn_shadow: #93261a;
  --num_background: #eae3dc;
  --num_shadow: #b4a597;
  --text_num: #444b5a;
  --screen_text: #fff;
  --del_text: #fff;
  --equal_text: #fff;
}
