@import './abstracts/color';
@import './abstracts/config';
@import './abstracts/font';
@import 'calc';
@import 'header';

html {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-size: $font-size;
}

body {
  background: var(--body_background);
  min-height: 100vh;
  @include flexCenter;
  overflow: hidden;
}

.attribution {
  text-align: center;
  position: fixed;
  width: 85vw;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3vh;
  color: var(--screen_text);
  font-size: 0.8rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .frontend_mentor {
    color: var(--toggle_btn_background);
  }

  .me {
    color: var(--del_background);
  }
}

@media (max-width: 300px) {
  html {
    font-size: 14px;
  }
  .calc {
    width: 70vw;
    height: 65vh;

    .themes {
      width: 20%;

      span {
        display: none;
      }
    }
  }
}
